/*
  GENERAL
*/
html { -webkit-font-smoothing: antialiased; }
a { outline: none; }
a:focus {  }
/*
  HEIGHT
*/
.h20 { height: 20rem; }
/*
  OVERFLOW
*/
.overflow-scrolling { -webkit-overflow-scrolling: touch; }
.scrollbar-dn::-webkit-scrollbar { display: none; }
/*
  SPACING
*/
.mv4 { margin-top: 4rem; margin-bottom: 4rem; }
.mh15 { margin-right: 1.5rem; margin-left: 1.5rem; }
.mt1 { margin-top: 1rem; }
.mt15 { margin-top: 1.5rem; }
.mt4 { margin-top: 4rem; }
.mr05 { margin-right: 0.5rem; }
.mr2 { margin-right: 2rem; }
.mb025 { margin-bottom: 0.25rem; }
.mb05 { margin-bottom: 0.5rem; }
.mb1 { margin-bottom: 1rem; }
.mb15 { margin-bottom: 1.5rem; }
.mb2 { margin-bottom: 2rem; }
.mb3 { margin-bottom: 3rem; }
.mb4 { margin-bottom: 4rem; }
.pa05 { padding: 0.5rem; }
.pv05 { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.pv1 { padding-top: 1rem; padding-bottom: 1rem; }
.pv15 { padding-top: 1.5rem; padding-bottom: 1.5rem; }
.pv3 { padding-top: 3rem; padding-bottom: 3rem; }
.pv6 { padding-top: 6rem; padding-bottom: 6rem; }
.pv8 { padding-top: 8rem; padding-bottom: 8rem; }
.ph1 { padding-right: 1rem; padding-left: 1rem; }
.ph15 { padding-right: 1.5rem; padding-left: 1.5rem; }
.ph2 { padding-right: 2rem; padding-left: 2rem; }
.ph3 { padding-right: 3rem; padding-left: 3rem; }
.ptc { padding-top: 3.1525rem; }
.pt15 { padding-top: 1.5rem; }
.pr05 { padding-right: 0.5rem; }
.pb2 { padding-bottom: 2rem; }
.pb3 { padding-bottom: 3rem; }
.pb4 { padding-bottom: 4rem; }
.pl05 { padding-left: 0.5rem; }
.pl2 { padding-left: 2rem; }
/*
  FONT FAMILY
*/
.lato { font-family: 'Lato'; }
/*
  FONT SIZE
*/
.f075 { font-size: 0.75rem; }
.f0875 { font-size: 0.875rem; }
.f1 { font-size: 1rem; }
.f15 { font-size: 1.5rem; }
.f2 { font-size: 2rem; }
/*
  LINE HEIGHT
*/
.lh125 { line-height: 1.25; }
.lh15 { line-height: 1.5; }
/*
  LETTER SPACING
*/
.tracking075 { letter-spacing: 0.075rem; }
/*

  COLOR

*/
.dark-gray { color: #333333; }
.gray { color: #828282; }
.silver { color: #bdbdbd; }
.blue { color: #0080ff; }
.green { color: #27ae60; }
.bg-almost-white { background-color: #fafafa; }
.bg-blue { background-color: #0080ff; }
.bg-green { background-color: #27ae60; }
.bg-red { background-color: #eb5757; }
.bg-orange { background-color: #f2994a; }
.bg-white-to-fade { background-image: linear-gradient(to right, white, transparent); }
.bg-fade-to-white { background-image: linear-gradient(to right, transparent, white); }
.b--light-gray { border-color: #e0e0e0; }
.b--blue { border-color: #0080ff; }
.b--green { border-color: #27ae60; }
.b--red { border-color: #eb5757; }
/*

  WIDTHS

*/
.w025 { width: 0.25rem; }
.w1 { width: 2rem; }
.w3 { width: 3rem; }
.w4 { width: 4rem; }
.w8 { width: 8rem; }
.w15 { width: 15rem; }
/*

  HEIGHT

*/
.h025 { height: 0.25rem; }
.h2_5 { height: 2.5rem; }
.h3 { height: 3rem; }
.h10 { height: 10rem; }
.h20 { height: 20rem; }
/*

  MAX WIDTHS

*/
.mw18 { max-width: 18rem; }
.mw645 { max-width: 64.5rem; }
/*

  POSITION

*/
.top--025 { top: -0.25rem; }
/*
  BORDER RADIUS
*/
.br0125 { border-radius: 0.125rem; }
/*

  LISTS

*/
.bullet-circle:before {
  content: "・";
  display: inline-block;
  padding-right: 0.5rem;
  color: #0080ff;
}
/*

  FORMS

*/
textarea, input, select {
  -webkit-transition: border 0.25s ease-in-out;
  transition: border 0.25s ease-in-out;
  outline: none;
}
select {
  background-image: url('../images/icons/dropdown.svg');
  background-size: 0.5rem;
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  padding-right: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
select::-ms-expand {
  display: none;
}
textarea:focus, input:focus, select:focus {
  border-color: #0080ff;
}
/*

  ANIMATIONS

*/
/* Rotate */
.js-rotate { -webkit-transition: transform 0.30s cubic-bezier(0.45, 0.25, 0.25, 1); transition: transform 0.30s cubic-bezier(0.45, 0.25, 0.25, 1); }
.is-down { transform: rotate(0deg); }
.is-up { transform: rotate(180deg); }
/* Fade */
.js-fade { -webkit-transition: opacity 0.25s ease-in-out; transition: opacity 0.25s ease-in-out; }
.is-visible { opacity: 1; }
.is-hidden { opacity: 0; }
/*

  MEDIA QUERIES

*/
@media screen and (min-width: 30em) {
  .f2-ns { font-size: 2rem; }
  .center-ns { margin-right: auto; margin-left: auto; }
  .w-sixth-ns { width: calc( 100% / 6 ); }
  .mw18-ns { max-width: 18rem; }
  .mw28-ns { max-width: 28rem; }
  .mw425-ns { max-width: 42.5rem; }
  .mw645-ns { max-width: 64.5rem; }
  .mt4-ns { margin-top: 4rem; }
  .mr1-ns { margin-right: 1rem; }
  .mb2-ns { margin-bottom: 2rem; }
  .mb4-ns { margin-bottom: 4rem; }
  .pv0-ns { padding-top: 0rem; padding-bottom: 0rem; }
  .pv1-ns { padding-top: 1rem; padding-bottom: 1rem; }
  .pv15-ns { padding-top: 1.5rem; padding-bottom: 1.5rem; }
  .ph1-ns { padding-right: 1rem; padding-left: 1rem; }
  .ptc { padding-top: 4.375rem; }
  .pr05-ns { padding-right: 0.5rem; }
  .pr2-ns { padding-right: 2rem; }
  .pl05-ns { padding-left: 0.5rem; }
  .pl2-ns { padding-left: 2rem; }
  .bg-almost-white-ns { background-color: #fafafa; }
  .b--light-gray-ns { border-color: #e0e0e0; }
  .aspect-ratio--16x9-ns { padding-bottom: 56.25%; }
}
@media screen and (min-width: 30em) and (max-width: 60em) {
  .ph2-m { padding-right: 2rem; padding-left: 2rem; }
}
@media screen and (min-width: 60em) {
  .left--4 { left: -4rem; }
  .right--4 { right: -4rem; }
}
