<div class="dn-ns fixed bottom-1 right-1 z-999 w3 h3">
  <a class="js-mobile db w3 h3 bg-green br-100 bg-center shadow-1" href="tel:<%= pretty_number data.contact.number %>" style="background-image: url('../../images/icons/marcar.svg')"></a>
</div>
